*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background: url("../public/bg.jpg") center center/cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;

  scrollbar-width: thin;
  scrollbar-color: rgba(47, 45, 19, 0.3) #0000;

  scroll-behavior: smooth;

  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

/* body::-webkit-scrollbar-button{
    display: none;
  } */